@font-face {
    font-family: 'MyWebFont';
    src: url('../assets/fonts/BrookeS8.woff') format('woff');
  }
@font-face {
    font-family: 'Ferrum';
    src: url('../assets/fonts/ferrum.woff') format('woff');
    font-weight: 400;
  }
@font-face {
    font-family: 'Mina';
    src: url('../assets/fonts/mina-is-gone.regular.woff') format('woff');
  }

    body{
        margin : 0px;
        z-index: 0;
        position: relative;
        display: block;
        width : 100%;
        min-height : 100vh;
        color: white;
    }
    body::after {
        background: url(../assets/images/4k-blue-dark-backgrounds.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position : absolute;
        content: "";
        opacity: 0.8;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;   
    }

    header, footer{
        background-color: #0d0d0d;
        opacity : 0.8;
        width : 100%;
    }

    header{
        height : 80px;
    }
    header img{
        margin : 20px;
        background-color: white;
        float : right;
        padding: 5px;
    }
    header ul.header_menu{
        display : none;
        float : right;
        background-color : white;
        color : black;
        list-style-type: none;
        position: absolute;
        top : 20px;
        right : 60px;
        padding: 10px;
        font-size: 1.2em;
    }
    header ul.header_menu li {
        text-transform: uppercase;
    }
    header ul.header_menu li:not(:first-child){
        padding-top: 20px;
    }
    /* Content Section */
    button.btn_download {
        margin-top: 10px;
        margin-right: 10px;
        font-size : 15px;
        padding: 15px;
        color : white;
        background: #0d0d0d;
        opacity: 0.8;
        border-radius: 4px;
        float: right;
        width: fit-content;
        font-family: serif;
        border-radius: 10px;
        text-transform: uppercase;
    }
    div.intro_about{
        clear: both;
        text-align : center;
        padding-top : 10px;
        font-size : 1.5em;
        color : white;
    }
    div.intro_img{
        margin-top: 20px;
    }
    div.intro_img .inner_div{
        margin: auto;
        width: 70vw;
        height: 80%;
    }
    div.intro_img .inner_div img{
        height: 80%;
        margin: auto;
        width: 70vw;
        max-height: 200px;
        border-radius: 30px;
    }
    div.click_for_more{
        display: none;
    }
    div.more_info{
        margin-top : 20px;
    }
    div.more_info section h1{
        background-color: #0d0d0d;
        padding: 10px;
        text-align: center;
    }
    div.more_info section .section_body{
        margin: 0 10px;
    }
    div.skill_bar, div.skills_others{
        margin: 20px 0;
    }
    div.skill_bar h3, div.skills_others h3{
        text-transform: uppercase;
        margin-left: 10px;
    }
    div.skill_bar .container_main{
        display: flex;
    }
    div.skill_bar .container_main .container{
        background-color: #b3b3b3;
        margin: 8px 3px 3px 4px;
        width: 50%;
    }
    div.skill_bar .container_main .container .skills{
        background-color: black;
        padding : 5px;
    }
    .work .section_body_data .html {width: 80%;} 
    .work .section_body_data .css {width: 80%; } 
    .work .section_body_data .jQuery {width: 70%; } 
    .work .section_body_data .react {width: 70%; } 
    .work .section_body_data .angular {width: 40%; } 
    .work .section_body_data .container.nofill{
        background-color: inherit;
    }
    div.skills_others .main_block{
        display: flex;
        margin-top: 5px;
    }
    div.skills_others .main_block .block{
        padding : 4px;
        width : 25%;
        text-align: center;
    }
    div.skills_others .main_block .block p {
        margin-bottom: 4px;
    }
    div.education div.deg{
        padding: 10px 0;
        text-align: center;
    }


    /* Desktop screens */
@media only screen and (min-width: 768px) {    
    body{
        min-width : 1000px;
    }
    header{
        height : 70px;
        border-bottom: 1px solid white;
    }
    header #mob_menu{
        display : none;
    }
    header ul.header_menu{
        display : block;
        list-style-type: none;
        min-width: 300px;
        color: white;
        font-size: 13pt;
        float: right;
        margin-right:10px;
        font-family: serif;
        text-transform: uppercase;
        padding-top: 25px;
        padding-bottom: 25px;
        font-weight: 500;
        background-color: inherit;
        top : 0px;
        right : 0px;
    }
    header ul.header_menu li{
        display: inline;
        padding: 30px 10px 25px 10px;
        cursor: pointer;
    }
    header ul.header_menu li:hover{
        background-color: lightslategrey;
        color: black;
    }
    header ul.header_menu li:last-child{
        padding-right : 15px;
    }

    div.intro_body{
        min-height:50vh;
        width:100%;
        display:inline-flex;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    }

    /* Animation effects for the page into part - start */
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    /* Animation effects for the page into part - end */

    /* Download Button */
    button.btn_download {
        margin-top: 10px;
        font-size : 15px;
        padding: 15px;
        color : white;
        background: #0d0d0d;
        opacity: 0.8;
        border-radius: 4px;
        position: absolute;
        left: 87%;
        height: 50px;
        width: fit-content;
        font-family: serif;
        text-transform: uppercase;
    }
    button.btn_download:hover{
        background: black;
        cursor: pointer;
    }

    /* The into body */
    div.intro_about{
        text-align: center;
        width : 50%;
        color: #b3b3b3;
        margin: auto;
        font-size: 35px;
        font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
    }
    div.intro_about span.my_name{
        color : white;
    }
    div.intro_img{
        width : 50%;
    }
    div.intro_img div.inner_div{
        margin:40px;
        width: auto;
    }
    div.intro_img div.inner_div img{
        border-radius: 50%;
        height: 350px;
        width: 350px;
        max-height: 350px;
    }

    body div.click_for_more{
        color: white;
        font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
        font-size: 25px;
        transform: scale(1, 0.8);
        text-align: center;
        align-content: center;
        display: block;
    }
    body div.click_for_more span, body div.click_for_more img{
        display: block;
        margin: auto;
    }

    body div.click_for_more img{
        margin-top: 15px;
        background-color: white;
        border-radius: 15px;
    }

    /* Section header and body*/
    div.more_info section .section_body{
        background-color: rgba(0, 0, 0, 0.2);
        color : #b3b3b3;   
    }

    div.more_info section .section_body .section_body_data{
        width : 80%;
        margin : auto;
        text-align : justify;
        padding: 20px 0;
    }

    div.more_info section h1{
        min-height : 40px;
        width : 100%;
        color : white;
        margin: 10px auto;
        text-align: center;
        background-color: #0d0d0d;
        font-weight: 400;
        opacity: 0.8;
        font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
        transform: scale(1,0.8);
        padding-top : 20px;
        padding-bottom: 20px;
        border-top : 1px solid white;
        border-bottom : 1px solid white;
    }

    /* About Me Section */

    div.about_me section .about_me_1 p::first-letter{
        padding-left: 100px;
        font-size: 25px;
        font-weight: 700;
    }
    div.about_me section .about_me_1 p, div.about_me section .about_me_2 p{
        font-size: 1.1em;
    }
    div.about_me section .about_me_2{
        display: flex;
        margin-top: 15px;
    }
    div.about_me section .about_me_2_left{
        width : 30%;
        font-family: Mina, sans-serif ,'Times New Roman', Times, serif;
        font-size: 70px;
        text-align: center; 
    }
    div.about_me section .about_me_2_right{
        padding-left: 30px;
    }

    /* Work Section - time line  */
    .work .section_body_data h3{
        text-align: center;
        margin: 5px 0 20px 0;
        text-transform: none;
    }

    /* Container for skill bars */
    .work .section_body_data .container_main {
    display:flex;
    /* background-color: #ddd; Grey background */
    margin: auto;
    width : 60%;
    }
    .work .section_body_data .container{
    width : 50%;  
    background-color: #b3b3b3;
    margin-bottom: 20px;
    }
    .work .section_body_data .container:nth-child(2n+1){
        margin-right: 50px;
    }
    div.skill_bar .container_main .container .skills {
    text-align: right; /* Right-align text */
    padding: 10px; /* Add some padding */
    color: white; /* White text color */
    background-color: #0d0d0d;
    }
    .work .section_body_data .skills span.skill_name{
    float: left; /* Left-align text */
    }

    .work .section_body_data .skills_others{
        font-size: 1.1em;
    }
    .work .section_body_data .skills_others .main_block{
        display: flex;
        width: 80%;
        margin: auto;
        border: 1px solid white;
        border-radius: 10px;
        padding: 20px;
        background-color: #0d0d0d;
    }
    .work .section_body_data .skills_others .main_block .block{
        width: 25%;
        text-align: center;
    }

    .work .section_body_data .skills_others .main_block .block h4{
        margin-bottom : 10px;
    }
    .work .section_body_data .skills_others .main_block .block hr{
        width : 70px;
    }


    /* Education Section */
    div.education div.deg{
        margin-left: 15%;
        text-align: left;
    }
    div.education div.deg:first-child{
        margin-bottom: 20px;
    }
    div.education div.deg div.deg_title{
        display : flex;
    }
    div.education div.deg div.deg_title p.univ_name{
        font-size: 1.25em;
        font-weight: 700;
    }
    div.education div.deg div.deg_title p.univ_name span{
        font-size: initial;
        font-weight: 500;
    }
    div.education div.deg div.deg_title p.year{
        margin: auto;
        font-style: italic;
    }
    /* Contact Me Section */
    div.contact_me p.contact_title{
        font-style: italic;
        font-size: 1.5em;
        margin-left: 10%;
    }   
    div.contact_me div.contact_body{
        margin-left: 10%;
        display : flex;
        margin-top : 20px;
    }
    div.contact_me div.contact_body div.contact_left, div.contact_me div.contact_body div.contact_right{
        width:50%;
        text-align : center;
    }
    div.contact_me div.contact_body div.contact_left p:nth-child(2){
        margin-top : 15px;
    }
    div.contact_me div.contact_body div.contact_left email{
        font-weight: 700;
        font-size: 1.1em;
    }
    div.contact_me div.contact_body div.contact_right hr{
        width : 30%;
    }
    div.contact_me div.contact_body div.contact_right div.icons{
        margin-top: 15px;
    }
    div.contact_me div.contact_body div.contact_right div.icons img{
        width: 25px;
        height: 25px;
    }
    div.contact_me div.contact_body div.contact_right div.icons img.fb_icon, 
    div.contact_me div.contact_body div.contact_right div.icons img.linkedin_icon{
        border: 1px solid #ffffff;
        border-radius: 4px;
    }
    div.contact_me div.contact_body div.contact_right div.icons img.twitter_icon{
        background-color: #ffffff;
        border-radius: 4px;
    }
    div.contact_me div.contact_body div.contact_right div.icons a:not(:first-child){
        margin-left: 13px;
    }

    /* Footer */
    footer{
        height : 30px;
        margin-top: 30px;
        border-top : 2px solid white;

    }
    footer div.footer{
        margin-left : 100px;
        color: white;
        font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 18px;
        transform: scale(1, 0.7);
    }
}