@font-face {
    font-family: 'MyWebFont';
    src: url('../assets/fonts/BrookeS8.woff') format('woff');
  }
  @font-face {
    font-family: 'Ferrum';
    src: url('../assets/fonts/ferrum.woff') format('woff');
    font-weight: 400;
  }


body{
    margin : 0px;
    z-index: 0;
    position: relative;
    display: block;
    min-width: 1000px;
    width : 100%;
    min-height : 100vh;
}
body::after {
    background: url(../assets/images/4k-blue-dark-backgrounds.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position : absolute;
    content: "";
    opacity: 0.8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
  }

header, footer{
    background-color: #0d0d0d;
    opacity : 0.8;
    width : 100%;
}
header{
    height : 70px;
    border-bottom: 1px solid white;
}
header ul.header_menu{
    list-style-type: none;
    min-width: 300px;
    color: white;
    font-size: 16pt;
    float: right;
    margin-right:10px;
    font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
    transform: scale(1, 0.8);
    padding-top: 20px;
    padding-bottom: 25px;
}
header ul.header_menu li{
    display: inline;
    padding: 30px 10px 30px 10px;
    cursor: pointer;
}
header ul.header_menu li:hover{
    background-color: lightslategrey;
    color: black;
}
header ul.header_menu li:last-child{
    padding-right : 15px;
}
div.intro_body{
    min-height:50vh;
    width:100%;
    display:inline-flex;
}
div.intro_about{
    text-align: center;
    width : 50%;
    color: white;
    margin: auto;
    font-size: 35px;
    font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
}
div.intro_about span.my_name{
    font-size: 38px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
div.intro_img{
    width : 50%;
}
div.intro_img div.inner_div{
    margin:40px;
}
div.intro_img div.inner_div img{
    border-radius: 50%;
}
body div.click_for_more{
    color: white;
    font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
    font-size: 25px;
    transform: scale(1, 0.8);
    text-align: center;
    align-content: center;
}
body div.click_for_more span, body div.click_for_more img{
    display: block;
    margin: auto;
}

body div.click_for_more img{
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
}
div.more_info section .section_body{
    background-color: rgba(128, 128, 128, 0.2);
    color : black;
    
}
div.more_info section h1{
    min-height : 40px;
    width : 100%;
    color : white;
    margin: 10px auto;
    text-align: center;
    background-color: #0d0d0d;
    font-weight: 400;
    opacity: 0.8;
    font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
    transform: scale(1,0.8);
    padding-top : 20px;
    padding-bottom: 20px;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
}

footer{
    height : 30px;
    margin-top: 30px;
    border-top : 2px solid white;

}
footer div.footer{
    margin-left : 100px;
    color: white;
    font-family: Ferrum, sans-serif, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    transform: scale(1, 0.7);
}